
.toolbar-background{
    background-color: #4e8e89;
}

h1{
    font-style: italic;
    font-weight: bold;
}

#mainList{
    background: darkslategray;
}

.description{
    font-style: normal;
}

#buttonColor{
    background-color: darkslategray;
}

.labels{
    font-style: italic;
    font-weight: bold;
}

p {
    font-style: italic;
    font-weight: bold; 
}

.Title{
    font-size: 250%;
    font-weight: bold; 
}

.latLon{
    font-weight: bold;
    font-size: 150%;
}

.weatherDes{
    float: left;
    font-weight: bold;
    font-size: 180%;
}







